body{
    background-color: #00171f;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin-top:-10px; 
    background-color: #00a8e8;
}
.title{
    font-size: 50px;
background-color: #003459;
width: 700px;
color: #f5f5f5;

border-radius: 10px;
}
.note{
    font-size: 15px;
    color:black
}
.copy_right_footer{
    position: fixed;
    bottom: 0px;
    color:white;
    background-color: 007ea7;
    width:100%;
    text-align: center;
    line-height: 3;
}
canvas{
border:5px solid white;
border-radius: 30px;
}